// Responsive
desktop-base-width     = 980px
rupture.desktop-cutoff = $tablet = 1080px
rupture.mobile-cutoff  = $mobile = 830px

// Images path
$img($image)
    url('../img/layout/' + $image)

// Colors
$azul        = #02123F
$azul-escuro = #17457F
$azul-medium = #2D93B5
$azul-light  = #ABE2EC
$vermelho    = #D82429

// Fonts
@import url('http://fonts.googleapis.com/css?family=Ubuntu:400,700')
ubuntu($size, $style = normal)
    font-size $size + 0px
    font-family 'ubuntu', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $style == bold
        font-weight 700

@import url('http://fonts.googleapis.com/css?family=Ubuntu+Condensed')
ubuntucond($size)
    font-size $size + 0px
    font-family 'Ubuntu Condensed', 'Helvetica', 'Arial', sans-serif
    font-weight 400
