.busca {
    h2 {
        ubuntucond 20
        text-transform uppercase
        color $azul
        margin 30px 0 20px
        padding-bottom 10px
        border-bottom 1px solid $azul-light
    }
    .results {
        border-bottom 1px solid $azul-light
        padding-bottom 20px
        &:not(:first-child) {
            margin-top 20px
        }
        > p {
            ubuntucond 18
            margin 0 0 15px
            color $vermelho
        }
        a {
            display block
            text-decoration none
            color $azul-medium
            ubuntu 14
            &:hover {
                color $azul
            }
            &:not(:first-child) {
                margin-top 15px
            }
            span {
                display block
                ubuntu 14 bold
                margin-bottom 3px
                transition none
            }
            p {
                margin 0
                line-height 1.4
                transition none
            }
        }
    }
}
