.certificacao-produtos {
    clearfix()
    .aside {
        width 28.57%
        float left
        padding-top 30px
        h2 {
            margin 0
            color $azul-medium
            ubuntu 24 bold
        }
        h3 {
            ubuntu 16 bold
            margin 30px 0 10px
            color $azul-medium
        }
        .nav-compulsoria {
            a {
                position relative
                display block
                width 100%
                ubuntu 13 bold
                color white
                background $azul-medium
                padding 10px 10px 10px 35px
                text-decoration none
                margin-bottom 2px
                &:before {
                    content ""
                    display block
                    position absolute
                    height 100%
                    width 14px
                    left 10px
                    top 0
                    background $img('marcador-menu-vazio.png') no-repeat center
                }
                &:hover,
                &.active {
                    background $azul
                    &:before {
                        background $img('marcador-menu-vermelho.png') no-repeat center
                    }
                }
                &.has-sub.open {
                    background $azul
                    &:before {
                        background $img('marcador-menu-vermelho.png') no-repeat center
                    }
                    + .submenu {
                        display block
                    }
                }
            }
            .submenu {
                display none
                a {
                    ubuntu 11
                    padding-top 7px
                    padding-bottom 7px
                    background $azul
                    &:before {
                        background $img('marcador-submenu.png') repeat-y center
                    }
                    &:hover, &.active {
                        background $vermelho
                    }
                }
            }
        }
        .nav-voluntaria {
            a {
                display block
                width 100%
                ubuntucond 14
                color $azul
                background #CEE3EC
                padding 10px
                text-decoration none
                margin-bottom 2px
                &:hover,
                &.active {
                    background $azul-escuro
                    color white
                }
            }
        }
        +mobile() {
            width 100%
            float none
            margin-bottom 15px
            h2 {
                ubuntu 20 bold
            }
        }
    }
    .conteudo {
        width 66.32%
        float right
        img {
            display block
            width 100%
            height auto
            margin 30px 0 60px
            &:first-child {
                margin 0 0 30px
            }
        }
        h3 {
            ubuntu 16 bold
            margin 0 0 20px
            color $azul-medium
            span {
                display block
                margin-bottom 5px
                ubuntu 10 bold
            }
        }
        h4 {
            color $vermelho
            margin 70px 0 12px
            ubuntu 14 bold
        }
        p {
            ubuntu 14
            color $azul
            line-height 1.4
            margin-bottom 0
        }
        form#form-portaria {
            width 100%
            margin-bottom 65px
            background #CDE2EB
            padding 15px
            label {
                ubuntu 14 bold
                color $azul-medium
                margin-right 5px
            }
            input[type='text'] {
                border 0
                outline 0
                background #DEECF2
                ubuntu 13
                color $azul
                padding 5px
                width 320px
            }
            input[type='submit'] {
                border 0
                outline 0
                ubuntu 12 bold
                color white
                background $azul-medium
                padding 5px 10px
                float right
                &:hover {
                    background $azul
                }
            }
            +below($tablet) {
                margin-bottom 40px
                label {
                    display block
                    margin-bottom 10px
                }
                input[type='text'] {
                    width 75%
                }
                input[type='submit'] {
                    width 22%
                }
            }
        }
        form#form-certificacao {
            width 100%
            border-top 1px solid $vermelho
            border-bottom 1px solid $vermelho
            padding 20px 0
            .row {
                position relative
                margin-bottom 5px
                label {
                    display block
                    position absolute
                    width 125px
                    top 2px
                    left 0
                    text-align right
                    ubuntu 13
                    color $azul
                }
                .formulario {
                    width 100%
                    padding-left 135px
                }
                input, select, textarea {
                    width 100%
                    border 1px solid #83C0D3
                    ubuntu 13
                    color $azul-escuroa
                    height 20px
                    padding-left 4px
                    outline 0
                }
                textarea {
                    height 120px
                    resize none
                }
                +mobile() {
                    label {
                        width 100%
                        display block
                        position relative
                        float none
                        text-align left
                        margin-bottom 5px
                    }
                    .formulario {
                        padding 0
                    }
                    input, textarea, select {
                        width 100%
                        float none
                    }
                }
            }
            input[type='submit'] {
                margin-top 15px
                background $azul
                border 0
                outline 0
                width 100%
                height 24px
                line-height 23px
                ubuntu 13
                color white
                text-align center
                transition background .3s
                &:hover {
                    background $azul-escuro
                }
            }
        }
        .documentos {
            margin-top 30px
            .subtitulo {
                display block
                margin-bottom 5px
                ubuntu 11 bold
                color $azul-escuro
                margin-bottom 10px
            }
            a {
                position relative
                display block
                background #CEE3EC
                ubuntu 14
                color $azul-escuro
                text-decoration none
                margin-bottom 5px
                padding 15px 54px
                &:before,
                &:after {
                    content ""
                    display block
                    position absolute
                    top 50%
                }
                &:before {
                    width 30px
                    height 30px
                    margin-top -15px
                    background $img('icone-pdf.png') no-repeat center
                    left 10px
                }
                &:after {
                    width 20px
                    height 20px
                    margin-top -10px
                    background $img('icone-setaclara.png') no-repeat center
                    right 10px
                }
                &:hover {
                    color $azul-light
                    background $azul
                }
            }
        }
        +mobile() {
            width 100%
            float none
            img {
                max-width 650px
            }
        }
    }
}
