.certificacao-sistemas {
    clearfix()
    .aside {
        width 28.57%
        float left
        padding-top 30px
        h2 {
            margin 0 0 20px
            color $azul-medium
            ubuntu 24 bold
        }
        p {
            ubuntu 14
            color $azul
            line-height 1.4
            margin 0 0 30px
        }
        a {
            position relative
            display block
            padding 10px 45px 10px 15px
            border 1px solid #83C0D3
            text-decoration none
            color $azul-medium
            ubuntu 14 bold
            line-height 1.4
            &:after {
                content ""
                display block
                position absolute
                width 7px
                height 9px
                right 15px
                top 50%
                margin-top -4px
                background $img('setinha-right-azul.png') no-repeat center
                transition background .3s
            }
            &:hover, &.active {
                background $azul-medium
                color white
                &:after {
                    background $img('setinha-right-branco.png') no-repeat center
                }
            }
        }
        +mobile() {
            width 100%
            float none
            margin-bottom 30px
            h2 {
                ubuntu 20 bold
            }
        }
    }
    .conteudo {
        width 66.32%
        float right
        img {
            display block
            width 100%
            height auto
            margin 0 0 30px
        }
        h3 {
            color $vermelho
            margin 70px 0 12px
            ubuntu 14 bold
        }
        .accordion {
            a {
                position relative
                display block
                ubuntu 16
                color $azul-escuro
                padding 10px 40px 10px 20px
                text-decoration none
                border-top 1px solid #CEE3EC
                &:before,
                &:after {
                    content ""
                    display block
                    position absolute
                    top 50%
                }
                &:before {
                    width 7px
                    height 9px
                    background $img('setinha-right.png') no-repeat center
                    left 0
                    margin-top -4px
                }
                &:after {
                    width 14px
                    height 14px
                    right 10px
                    margin-top -7px
                    background $img('icone-mais.png') no-repeat center
                }
                &.open {
                    background #CEE3EC
                    ubuntu 16 bold
                    &:after {
                        background $img('icone-menos.png') no-repeat center
                    }
                }
                &:last-of-type {
                    border-bottom 1px solid #CEE3EC
                }
            }
            div {
                display none
                margin 15px 0 40px
                p {
                    margin 0 0 10px
                    ubuntu 14
                    color $azul
                    line-height 1.4
                    &:last-child {
                        margin 0
                    }
                }
            }
        }
        form {
            width 100%
            border-top 1px solid $vermelho
            border-bottom 1px solid $vermelho
            padding 20px 0
            .row {
                position relative
                margin-bottom 5px
                label {
                    display block
                    position absolute
                    width 125px
                    top 2px
                    left 0
                    text-align right
                    ubuntu 13
                    color $azul
                }
                .formulario {
                    width 100%
                    padding-left 135px
                }
                input, select {
                    width 100%
                    border 1px solid #83C0D3
                    ubuntu 13
                    color $azul-escuroa
                    height 20px
                    padding-left 4px
                    outline 0
                }
                +mobile() {
                    label {
                        width 100%
                        display block
                        position relative
                        float none
                        text-align left
                        margin-bottom 5px
                    }
                    .formulario {
                        padding 0
                    }
                    input, textarea, select {
                        width 100%
                        float none
                    }
                }
            }
            input[type='submit'] {
                margin-top 15px
                background $azul
                border 0
                outline 0
                width 100%
                height 24px
                line-height 23px
                ubuntu 13
                color white
                text-align center
                transition background .3s
                &:hover {
                    background $azul-escuro
                }
            }
        }
        .como-obter {
            border-bottom 1px solid $vermelho
            margin-bottom 20px
            h3 {
                margin 0
                ubuntu 22 bold
                color $azul
                +mobile() {
                    ubuntu 18 bold
                }
                + p {
                    ubuntu 14
                    color $azul
                    margin 5px 0 50px
                }
            }
            .row {
                margin-bottom 40px
                position relative
                padding-top 10px
                min-height 80px
                .passo {
                    width 80px
                    height 80px
                    position absolute
                    top 0
                    left 0
                    &.passo-1 {
                        background $img('bola-1passo.png') no-repeat center
                    }
                    &.passo-2 {
                        background $img('bola-2passo.png') no-repeat center
                    }
                    &.passo-3 {
                        background $img('bola-3passo.png') no-repeat center
                    }
                }
                p {
                    display block
                    margin-left 100px
                    margin-bottom 15px
                    &:first-of-type {
                        padding-top 10px
                        border-top 1px solid #83C0D3
                    }
                }
            }
        }
        p {
            ubuntu 14
            margin 0 0 20px
            color $azul
        }
        +mobile() {
            width 100%
            float none
            img {
                max-width 650px
            }
            .como-obter {
                .row {
                    min-height 60px
                    .passo {
                        width 60px
                        height 60px
                        background-size cover !important
                    }
                    p {
                        margin-left 80px
                    }
                }
            }
        }
    }
}
