.contato {
    .mapa {
        width 100%
        height 300px
        margin-bottom 50px
        iframe {
            width 100%
            height 300px
        }
        +mobile() {
            height 200px
            margin-bottom 30px
            iframe {
                height 200px
            }
        }
    }
    > .center {
        clearfix()
    }
    .info {
        width 30%
        float left
        +mobile() {
            display none
        }
        .logo-contato {
            width 213px
            height 47px
            background $img('marca-instituto-falcao-bauer-contato.png') no-repeat center
        }
        p {
            display inline-block
            position relative
            ubuntu 14
            color #17457F
            margin 0
            padding-left 28px
            &:after {
                content ""
                display block
                position absolute
                left 0
                top 0
            }
            &.endereco {
                margin-top 25px
                &:after {
                    width 12px
                    height 16px
                    background $img('icone-contato-endereco.png') no-repeat center
                }
            }
            &.telefone {
                margin-top 16px
                ubuntu 14 bold
                &:after {
                    width 18px
                    height 13px
                    background $img('icone-contato-telefone.png') no-repeat center
                }
            }
        }
    }
    .forms {
        width 65%
        float right
        .form-wrapper {
            border 1px solid #83C0D3
            padding 30px
            &:first-child {
                margin-bottom 20px
            }
            a {
                position relative
                display block
                width 100%
                height 20px
                line-height 20px
                color $azul-escuro
                ubuntucond 16
                text-decoration none
                &:after {
                    content ""
                    display block
                    position absolute
                    width 9px
                    height 7px
                    right 0
                    top 6px
                    background $img('setinha-down.png') no-repeat center
                    transition opacity .3s
                }
            }
            form {
                display none
                margin-top 30px
                .row {
                    width 100%
                    clearfix()
                    margin-bottom 5px
                    label {
                        width 14%
                        height 20px
                        line-height 20px
                        text-align right
                        float left
                        ubuntu 13
                        color $azul
                    }
                    input, textarea, select {
                        width 82%
                        float right
                        border 1px solid #83C0D3
                        ubuntu 13
                        color $azul-escuroa
                        height 20px
                        padding-left 4px
                        outline 0
                    }
                    +mobile() {
                        label {
                            width 100%
                            float none
                            display block
                            text-align left
                        }
                        input, textarea, select {
                            width 100%
                            float none
                        }
                    }
                    textarea {
                        height 170px
                        padding-top 4px
                        resize none
                    }
                    #curriculo {
                        width 100%
                        height auto
                        display block
                        position relative
                        text-align center
                        float none
                        border 1px solid #83C0D3
                        cursor pointer
                        transition border .3s
                        div {
                            width 100%
                            padding 15px 30px
                            ubuntu 14
                            color $azul
                        }
                        input[type='file'] {
                            opacity 0
                            top 0
                            left 0
                            width 0
                            height 0
                            position absolute
                            z-index 0
                        }
                        &:hover, &.active {
                            border-color $azul-escuro
                        }
                    }
                }
                input[type='submit'] {
                    background $azul
                    border 0
                    outline 0
                    width 100%
                    height 24px
                    line-height 23px
                    ubuntu 13
                    color white
                    text-align center
                    transition background .3s
                    &:hover {
                        background $azul-escuro
                    }
                }
            }
            &.open {
                form {
                    display block
                }
                a:after {
                    opacity 0
                }
            }
        }
        +mobile() {
            width 100%
            float none
            .form-wrapper {
                padding 15px
                form {
                    margin-top 20px
                }
            }
        }
    }
}
