.grupo {
    clearfix()
    .texto {
        width 46%
        float left
        margin-top 30px
        p {
            ubuntu 14
            line-height 1.4
            color $azul
            &:first-child {
                margin-top 0
            }
        }
        ul {
            padding 0
            margin 20px 0 40px
            list-style-type none
            li {
                ubuntu 14
                color $azul
                line-height 1.4
            }
        }
        a {
            position relative
            display block
            border 1px solid #CEE3EC
            padding 28px 75px 48px
            ubuntucond 16
            text-align center
            color $azul
            text-decoration none
            transition border .3s ease
            span {
                position absolute
                display block
                width 100%
                bottom 0
                left 0
                height 24px
                line-height 24px
                background $azul-escuro
                color $azul-light
                text-align center
                ubuntu 10
            }
            &:hover {
                border-color $azul
                span {
                background $azul
                color white
                }
            }
        }
    }
    .imagem {
        width 46%
        float right
        img {
            display block
            width 100%
            height auto
            max-width 460px
        }
    }
    +mobile() {
        .texto,
        .imagem {
            float none
            width 100%
        }
        .imagem {
            margin-top 30px
        }
        .texto a {
            padding-left 24px
            padding-right 24px
        }
    }
}
