.main.home {
    .banners {
        background #CEE3EC
        #banners-cycle {
            height 300px
            position relative
            .banners-slide {
                display table !important
                position absolute
                text-decoration none
                width 100%
                height 100%
                top 0
                left 0
                background-position center left
                background-size cover
                div {
                    width 100%
                    max-width 100%
                    display table-cell
                    vertical-align middle
                    p {
                        margin 0
                        width 45%
                        float right
                        clear right
                        padding-right 10%
                        &.chamada {
                            color $azul-escuro
                            ubuntucond 16
                            text-transform uppercase
                            margin-bottom 15px
                        }
                        &.titulo {
                            color $azul
                            ubuntu 44
                            line-height .9
                        }
                        &.texto {
                            color $azul
                            ubuntu 13
                            font-style italic
                            margin-top 15px
                        }
                    }
                }
            }
        }
        +below($tablet) {
            .center {
                width 100%
            }
            #banners-cycle {
                .banners-slide div {
                    background rgba(206,227,236,.6)
                    p {
                        width 100%
                        padding 0 10%
                        text-align center
                    }
                }
            }
        }
        +mobile() {
            #banners-cycle {
                height 180px
                .banners-slide div p {
                    &.chamada,
                    &.texto {
                        display none
                    }
                    &.titulo {
                        font-size 32px
                        line-height 1
                    }
                }
            }
        }
    }
    .treinamentos {
        margin-top 50px
        clearfix()
        > .titulo {
            border-bottom 2px solid $azul-light
            clearfix()
            p {
                display inline-block
                float left
                ubuntucond 18
                color $azul
                margin 0
                padding 0
                text-transform uppercase
            }
            a {
                display inline-block
                float right
                background $azul-light
                height 28px
                line-height 28px
                ubuntucond 13
                color $azul
                padding 0 20px
                text-decoration none
                +mobile() {
                    display none
                }
                &:hover {
                    background $azul-escuro
                    color white
                }
            }
        }
        .treinamento-chamada {
            margin-top 10px
            width 33.333333%
            border-right 2px solid white
            float left
            display block
            color $azul
            text-decoration none
            &:last-child {
                border 0
            }
            p {
                margin 0
            }
            .data {
                float left
                background $azul-light
                width 60px
                min-height 75px
                text-align center
                padding 10px
                line-height 1
                .dia {
                    ubuntu 22 bold
                }
                .mes {
                    ubuntu 12 bold
                }
                .ano {
                    ubuntu 16 bold
                }
            }
            .titulo {
                padding 10px 20px 10px 72px
                min-height 75px
                ubuntu 18
                text-transform uppercase
            }
            &:hover .titulo {
                background $azul-light
            }
            +below($tablet) {
                .titulo {
                    background $azul-light
                }
            }
            +mobile() {
                width 100%
                display block
                border 0
            }
        }
        +mobile() {
            margin-top 30px
        }
    }
    .noticias {
        margin-top 50px
        clearfix()
        .noticia {
            position relative
            width 33.333333%
            min-height 175px
            float left
            display block
            margin-top 10px
            border-right 2px solid white
            padding 15px 15px 50px
            background #CEE3EC
            text-decoration none
            color $azul-escuro
            p {
                margin 0
                transition none
                &.titulo {
                    ubuntucond 20
                    text-transform uppercase
                    margin-bottom 10px
                }
                &.texto {
                    ubuntu 12
                }
            }
            span {
                display inline-block
                position absolute
                bottom 0
                right 0
                height 24px
                line-height 24px
                transition none
                background $azul-escuro
                color $azul-light
                ubuntu 10
                padding 0 16px 0 70px
                transition background .3s ease
                &:before {
                    content ""
                    display block
                    position absolute
                    top 0
                    left -26px
                    height 100%
                    width 24px
                    border-style solid
                    border-width 0 0 24px 26px
                    border-color transparent transparent $azul-escuro transparent
                    transition border .3s ease
                }
            }
            &:hover {
                background $azul-escuro
                color white
                span {
                    background $azul
                    &:before {
                        border-color transparent transparent $azul transparent
                    }
                }
            }
            +mobile() {
                width 100%
            }
        }
    }
    .validade-certificados {
        text-align center
        margin-top 50px
        a {
            display inline-block
            color $azul-medium
            text-decoration none
            ubuntu 16
            padding 12px 50px
            border 1px solid $azul-medium
            +mobile() {
                padding 12px 20px
                line-height 1.4
            }
            &:hover {
                background $azul
            }
        }
    }
}
