.inovacao {
    clearfix()
    .aside {
        width 28.57%
        float left
        padding-top 30px
        h2 {
            margin 0
            color $azul-medium
            ubuntu 24 bold
        }
        +mobile() {
            width 100%
            float none
            margin-bottom 30px
            h2 {
                ubuntu 20 bold
            }
        }
    }
    .conteudo {
        width 66.32%
        float right
        img {
            display block
            width 100%
            height auto
            margin 0 0 30px
        }
        h3 {
            ubuntu 14 bold
            margin 0 0 20px
            color $azul
        }
        p {
            ubuntu 14
            line-height 1.4
            color $azul
            margin-top 0
        }
        +mobile() {
            width 100%
            float none
            img {
                max-width 650px
            }
        }
    }
}
