.instituto {
    clearfix()
    .texto {
        width 46%
        float left
        margin-top 30px
        line-height 1.4
        p {
            ubuntu 14
            color $azul
            &:first-child {
                margin-top 0
            }
        }
    }
    .imagem {
        width 46%
        float right
        img {
            display block
            width 100%
            height auto
            max-width 460px
        }
    }
    +mobile() {
        .texto,
        .imagem {
            float none
            width 100%
        }
    }
    .servicos {
        clear both
        float left
        width 100%
        margin-top 30px
        border-top 1px solid $vermelho
        padding-top 15px
        h3 {
            ubuntu 18
            color $azul-medium
            margin 0 0 30px
        }
        a {
            display block
            width 46%
            float left
            margin-right 8%
            margin-bottom 60px
            text-decoration none
            transition none
            clearfix()
            &:nth-child(2n+1) {
                margin-right 0
            }
            &:last-child {
                margin-bottom 0
            }
            img {
                display inline-block
                float left
            }
            p {
                margin 0
                padding 0 0 0 140px
                ubuntu 14
                color $azul
                line-height 1.4
                &.titulo {
                    ubuntu 15 bold
                    color $azul-medium
                    margin-bottom 8px
                    transition color .3s ease
                }
            }
            +mobile() {
                width 100%
                margin-right 0
                img {
                    margin-bottom 15px
                }
                p {
                    float left
                    clear left
                    padding-left 0
                }
            }
            &:hover {
                p {
                    color $azul
                }
            }
        }
    }
}
