.noticias {
    clearfix()
    .slider-wrapper {
        width 100%
        margin 30px 0 40px
        float left
        #noticias-cycle {
            position relative
            width 66.33%
            height 365px
            float left
            a {
                position absolute !important
                display block
                top 0
                left 0
                width 100%
                height 100%
                background-position center
                background-size cover
                span {
                    display block
                    position absolute
                    width 95%
                    margin 0 2.5% 2.5%
                    padding 20px 20px 30px
                    bottom 0
                    left 0
                    background rgba(23,69,127,.8)
                    ubuntucond 24
                    color white
                    text-transform uppercase
                    &:after {
                        content ""
                        display block
                        position absolute
                        width 100%
                        height 1px
                        background $vermelho
                        bottom 10px
                        left 0
                    }
                }
            }
            +mobile() {
                width 100%
                height 250px
                a span {
                    ubuntucond 18
                }
            }
        }
        .noticias-cycle-pager.pager-aside {
            width 33.16%
            height 365px
            float right
            +mobile() {
                display none
            }
            a {
                z-index 9999
                position relative
                display block
                height 120px
                padding 15px
                ubuntucond 20
                +below($tablet) {
                    ubuntucond 18
                }
                color $azul-escuro
                text-decoration none
                text-transform uppercase
                background #CEE3EC
                &:before {
                    content ""
                    display block
                    position absolute
                    width 0
                    height 0
                    top 0
                    left -14px
                    border-style solid
                    border-width 14px 14px 14px 0
                    border-color transparent
                    transition border .3s
                }
                span {
                    display inline-block
                    position absolute
                    bottom 0
                    right 0
                    height 24px
                    line-height 24px
                    transition none
                    background $azul-escuro
                    color $azul-light
                    ubuntu 10
                    padding 0 16px 0 70px
                    transition background .3s ease
                    &:before {
                        content ""
                        display block
                        position absolute
                        top 0
                        left -26px
                        height 100%
                        width 24px
                        border-style solid
                        border-width 0 0 24px 26px
                        border-color transparent transparent $azul-escuro transparent
                        transition border .3s ease
                    }
                }
                &:hover {
                    color $azul
                    span {
                        background $azul
                        &:before {
                            border-color transparent transparent $azul transparent
                        }
                    }
                }
                &.cycle-pager-active:before {
                    border-color transparent #CEE3EC transparent transparent
                }
                &:not(:last-child) {
                    margin-bottom 3px
                }
            }
        }
        .noticias-cycle-pager.pager-bullets {
            width 66.33%
            float left
            clear both
            text-align right
            margin-top 10px
            +mobile() {
                width 100%
            }
            a {
                text-align left
                display inline-block
                text-indent -9999px
                width 10px
                height 10px
                background $azul-escuro
                transition background .3s
                border-radius 10px
                margin-left 5px
                &.cycle-pager-active {
                    background #83C0D3
                }
            }
        }
    }
    .noticias-assuntos {
        float left
        width 30.61%
        +mobile() {
            display none
        }
        p {
            ubuntu 14
            color $azul
            margin 0 0 10px
        }
        a {
            display block
            width 100%
            padding 10px
            color $azul
            background #CEE3EC
            ubuntucond 14
            text-decoration none
            text-transform uppercase
            margin-bottom 2px
            &:hover {
                background $azul
                color $azul-light
            }
        }
    }
    .noticias-lista-index {
        float right
        width 62.85%
        +mobile() {
            width 100%
            float left
        }
        .lista-wrapper {
            &:not(:first-child) {
                margin-top 30px
            }
            .trigger {
                display inline-block
                position relative
                padding 8px 32px 8px 8px
                background $azul-light
                ubuntucond 16
                color $azul
                text-decoration none
                &:after {
                    content ""
                    display block
                    position absolute
                    width 14px
                    height 14px
                    right 8px
                    top 50%
                    margin-top -7px
                    background $img('icone-mais.png') no-repeat center
                    transition background .3s
                }
            }
            div {
                border-top 2px solid $azul-light
                padding-top 18px
                a {
                    display block
                    position relative
                    text-decoration none
                    border-bottom 1px solid $azul-light
                    padding-bottom 14px
                    padding-left 95px
                    ubuntu 16
                    font-style italic
                    color $azul
                    +mobile() {
                        padding-left 0
                    }
                    &:hover {
                        color $vermelho
                    }
                    &:not(:first-child) {
                        margin-top 14px
                    }
                    span {
                        ubuntu 12 bold
                        width 80px
                        color $vermelho
                        position absolute
                        font-style normal
                        top 2px
                        left 0
                        +mobile() {
                            display block
                            position relative
                            margin-bottom 4px
                        }
                    }
                }
            }
            &.open {
                .trigger:after {
                    background $img('icone-menos.png') no-repeat center
                }
                div {
                    display block
                }
            }
            div {
                display none
            }
        }
    }

    .noticias-texto {
        width 61.22%
        float left
        margin-top 30px
        +mobile() {
            width 100%
        }
        h3 {
            margin 0 0 30px
            ubuntucond 30
            color $azul-escuro
            text-transform uppercase
        }
        .texto {
            margin 0 0 40px
            p {
                margin 0 0 20px
                ubuntu 14
                color $azul
                line-height 1.4
            }
            img {
                float left
                max-width 50%
                height auto
                margin 0 20px 20px 0
                +mobile() {
                    display block
                    float none
                    max-width 100%
                }
            }
        }
        .subtitulo {
            display block
            margin-bottom 5px
            ubuntu 11 bold
            color $azul-escuro
        }
        .fonte a {
            ubuntu 14
            color $azul-medium
            text-decoration none
            font-style italic
            &:hover {
                color $azul-escuro
            }
        }
        .documentos {
            margin-top 30px
            .subtitulo {
                margin-bottom 10px
            }
            a {
                position relative
                display block
                background #CEE3EC
                ubuntu 14
                color $azul-escuro
                text-decoration none
                margin-bottom 5px
                padding 15px 54px
                &:before,
                &:after {
                    content ""
                    display block
                    position absolute
                    top 50%
                }
                &:before {
                    width 30px
                    height 30px
                    margin-top -15px
                    background $img('icone-pdf.png') no-repeat center
                    left 10px
                }
                &:after {
                    width 20px
                    height 20px
                    margin-top -10px
                    background $img('icone-setaclara.png') no-repeat center
                    right 10px
                }
                &:hover {
                    color $azul-light
                    background $azul
                }
            }
        }
    }
    .noticias-aside {
        width 33.16%
        float right
        margin-top 30px
        +mobile() {
            display none
        }
        .destaque {
            margin-bottom 24px
            a {
                display block
                border 1px solid #83C0D3
                margin-bottom 3px
                padding 20px
                ubuntucond 20
                color $azul-escuro
                text-transform uppercase
                text-decoration none
                &:hover {
                    background $azul
                    color $azul-medium
                }
            }
        }
        .lista {
            > span {
                display inline-block
                position relative
                padding 8px
                background $azul-light
                ubuntucond 16
                color $azul
                text-decoration none
            }
            div {
                border-top 2px solid $azul-light
                padding-top 15px
                a {
                    display block
                    text-decoration none
                    border-bottom 1px solid $azul-light
                    padding-bottom 10px
                    margin-bottom 10px
                    ubuntu 13
                    color $azul
                    font-style italic
                    span {
                        display block
                        margin-bottom 2px
                        color $vermelho
                        ubuntu 10 bold
                        font-style normal
                    }
                    &:hover {
                        color $vermelho
                    }
                }
            }
        }
    }
}
