.sustentabilidade {
    clearfix()
    .aside {
        width 28.57%
        float left
        padding-top 30px
        h2 {
            margin 0
            color $azul-medium
            ubuntu 24 bold
        }
        h3 {
            ubuntu 16 bold
            margin 30px 0 10px
            color $azul-medium
        }
        .nav-selos {
            a {
                position relative
                display block
                width 100%
                ubuntu 13 bold
                color white
                background $azul-medium
                padding 10px 10px 10px 35px
                text-decoration none
                margin-bottom 2px
                &:before {
                    content ""
                    display block
                    position absolute
                    height 100%
                    width 14px
                    left 10px
                    top 0
                    background $img('marcador-menu-vazio.png') no-repeat center
                }
                &:hover,
                &.active {
                    background $azul
                    &:before {
                        background $img('marcador-menu-vermelho.png') no-repeat center
                    }
                }
            }
        }
        .nav-servicos {
            a {
                display block
                width 100%
                ubuntucond 14
                color $azul
                background #CEE3EC
                padding 10px
                text-decoration none
                margin-bottom 2px
                &:hover,
                &.active {
                    background $azul-escuro
                    color white
                }
            }
        }
        +mobile() {
            width 100%
            float none
            margin-bottom 15px
            h2 {
                ubuntu 20 bold
            }
            h3, nav {
                display none
            }
        }
    }
    .conteudo {
        width 66.32%
        float right
        img {
            display block
            width 100%
            height auto
            margin 0 0 30px
            &.selo {
                width auto
                margin 0
                float left
            }
        }
        h3 {
            ubuntu 16 bold
            margin 0 0 20px
            color $azul-medium
        }
        .texto {
            ubuntu 14
            color $azul
            line-height 1.4
            margin-bottom 40px
            p {
                margin 0 0 10px
            }
            ul {
                margin 0 0 40px
                padding 0 0 0 15px
                li {
                    margin-bottom 3px
                }
            }
            &.texto-selo {
                padding-left 150px
            }
        }
        .documentos {
            margin-top 30px
            .subtitulo {
                display block
                margin-bottom 5px
                ubuntu 11 bold
                color $azul-escuro
                margin-bottom 10px
            }
            a {
                position relative
                display block
                background #CEE3EC
                ubuntu 14
                color $azul-escuro
                text-decoration none
                margin-bottom 5px
                padding 15px 54px
                &:before,
                &:after {
                    content ""
                    display block
                    position absolute
                    top 50%
                }
                &:before {
                    width 30px
                    height 30px
                    margin-top -15px
                    background $img('icone-pdf.png') no-repeat center
                    left 10px
                }
                &:after {
                    width 20px
                    height 20px
                    margin-top -10px
                    background $img('icone-setaclara.png') no-repeat center
                    right 10px
                }
                &:hover {
                    color $azul-light
                    background $azul
                }
            }
        }
        +mobile() {
            width 100%
            float none
            img {
                max-width 650px
                &.selo {
                    display block
                    float none
                    max-width 100%
                    margin-bottom 15px
                }
            }
            .texto.texto-selo {
                padding 0
            }
        }
    }
    .selos,
    .servicos {
        clear both
        float left
        width 100%
        margin-top 45px
        h4 {
            ubuntu 18
            color $azul-medium
            margin 0
        }
        div {
            width 100%
            margin-top 15px
            a {
                width 20%
                height 250px
                display block
                position relative
                float left
                border 1px solid #83C0D3
                margin-left -1px
                margin-top -1px
                padding 20px
                text-align center
                text-decoration none
                ubuntu 16
                color $azul
                div {
                    width 65%
                    height 150px
                    margin 0 auto 20px
                    background-repeat no-repeat
                    background-size contain
                    background-position top center
                }
                +below($tablet) {
                    ubuntu 14
                    div {
                        width 85%
                    }
                }
                span {
                    display block
                    position absolute
                    left 0
                    bottom 20px
                    padding 0 20px
                }
                &:hover {
                    background #CDE2EB
                }
                +mobile() {
                    width 100%
                    height auto
                    div {
                        height 100px
                        width 100%
                    }
                    span {
                        display block
                        position static
                    }
                }
            }
        }
    }
    .selos {
        border-top 1px solid #83C0D3
        padding-top 15px
    }
    .servicos {
        div a {
            width 25%
            img {
                display block
                width 100%
                height auto
                border 1px solid #83C0D3
                margin 0 auto 20px
                max-width 205px
            }
            span {
                height 54px
            }
            +below($tablet) {
                ubuntu 14
                height 220px
                div {
                    width 65%
                }
            }
            +mobile() {
                width 100%
                height auto
                div {
                    height 100px
                    width 100%
                }
                span {
                    display block
                    position static
                    height auto
                }
            }
        }
    }
}
