header {
    background $azul
    .header-top {
        padding 40px 0
        border-bottom 2px solid $vermelho
        clearfix()
        h1 {
            margin 0
            float left
            a {
                display block
                text-indent -9999px
                width 273px
                height 60px
                background $img('marca-instituto-falcao-bauer.png') no-repeat center
            }
        }
        form {
            position relative
            width 200px
            height 28px
            float right
            border 1px solid $azul-medium
            background $azul-escuro
            ::-webkit-input-placeholder {
                color $azul-light
            }
            :-moz-placeholder {
               color $azul-light
               opacity 1
            }
            ::-moz-placeholder {
               color $azul-light
               opacity 1
            }
            :-ms-input-placeholder {
               color $azul-light
            }
            input[type='text'] {
                background transparent
                border 0
                outline 0
                ubuntu 12
                height 28px
                line-height 28px
                width 165px
                padding-left 8px
                color $azul-light
            }
            input[type='submit'] {
                position absolute
                top 0
                right 0
                border 0
                outline 0
                width 28px
                height 28px
                background $img('lupa.png') no-repeat center
            }
        }
        nav {
            float right
            clear right
            text-align right
            margin-top 17px
            a {
                position relative
                display inline-block
                text-decoration none
                text-transform uppercase
                ubuntucond 14
                color $azul-light
                margin-left 10px
                padding-left 12px
                &:before {
                    content ""
                    display block
                    position absolute
                    width 6px
                    height 10px
                    left 0
                    top 3px
                    background $img('menu-seta-azulclaro.png') no-repeat center
                    background-size cover
                }
                &:hover,
                &.active {
                    color white
                }
            }
        }
        +mobile() {
            height 85px
            padding 0
            h1 {
                float left
                padding 0
                margin 10px 0
                height 65px
                width 64%
                max-width 220px
                a {
                    width 100%
                    height 100%
                    background-size 100% auto
                    background-position center left
                }
            }
            form {
                display none
            }
            nav {
                display none
            }
        }
    }
    .header-nav {
        border-left 1px solid $azul-escuro
        +mobile() {
            display none
        }
        nav {
            display table
            width 100%
            clearfix()
            a {
                display table-cell
                padding 18px 0
                width 20%
                text-align center
                vertical-align middle
                border-right 1px solid $azul-escuro
                text-decoration none
                text-transform uppercase
                color $azul-light
                ubuntucond 23
                &:hover,
                &.active {
                    color white
                }
                span {
                    display block
                    transition none
                    ubuntucond 17
                }
                +below($tablet) {
                    ubuntucond 18
                    span {
                        ubuntucond 14
                    }
                }
            }
        }
    }
    #nav-mobile {
        +above($mobile) {
            display none !important
        }
        display none
        width 100%
        background $azul-escuro
        padding 10px 3.5%
        text-align center
        nav {
            a {
                display block
                text-decoration none
                color white
                text-transform uppercase
                transition none
                ubuntucond 16
                padding 10px 0
                border-bottom 1px solid rgba(255,255,255,.15)
                span {
                    display block
                    text-transform lowercase
                    opacity .8
                }
                &.active {
                    color $azul-light
                }
                &:last-child {
                    border 0
                }
            }
        }
    }
    #mobile-toggle {
        +mobile() {
            display block
        }
        display none
        background-color $vermelho
        border 0
        position absolute
        right 0
        top 0
        height 85px
        width 85px
        outline 0
        padding 0
        .lines {
            display block
            width 40%
            height 3px
            margin 41px auto
            background white
            position relative
            transition .3s ease
            &:before,
            &:after {
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 3px
                background white
                transition .3s ease
            }
            &:before {
                top 8px
            }
            &:after {
                top -8px
            }
        }
        &.close {
            .lines {
                background transparent
                &:before,
                &:after {
                    transform-origin 50% 50%
                    top 0
                }
                &:before {
                    transform rotate3d(0,0,1,45deg)
                }
                &:after {
                    transform rotate3d(0,0,1,-45deg)
                }
            }
        }
    }
}

.main {
    margin 0 0 50px
    &.not-found {
        padding-top 50px
        margin-bottom 85px
        text-align center
        h2 {
            display inline-block
            ubuntu 14 bold
            text-transform uppercase
            color $azul-medium
            border 1px solid $azul-medium
            padding 16px
        }
    }
    .title {
        background #CDE2EB
        min-height 10px
        h2 {
            margin 0
            padding 20px 0
            ubuntucond 24
            text-transform uppercase
            color $azul-escuro
        }
    }
}

footer {
    .info {
        background #F0F0F0
        clearfix()
        .contato {
            width 25%
            float left
            padding 16px 0
            .logo-footer {
                display block
                width 155px
                height 34px
                background $img('marca-instituto-falcao-bauer-rodape.png') no-repeat center
            }
            +below($tablet) {
                width 100%
                float none
                text-align center
                padding 24px 0
                .logo-footer {
                    margin 0 auto
                }
            }
            p {
                display inline-block
                position relative
                ubuntu 12
                color #17457F
                margin 0
                padding-left 24px
                &:after {
                    content ""
                    display block
                    position absolute
                    left 0
                    top 2px
                }
                +below($tablet) {
                    width 100%
                    padding 0
                    &:after {
                        display none
                    }
                }
                &.endereco {
                    margin-top 25px
                    &:after {
                        width 9px
                        height 12px
                        background $img('icone-endereco.png') no-repeat center
                    }
                }
                &.telefone {
                    margin-top 16px
                    ubuntu 12 bold
                    &:after {
                        width 14px
                        height 10px
                        background $img('icone-telefone.png') no-repeat center
                    }
                }
            }
        }
        .col {
            width 25%
            float left
            border-left 1px solid #83C0D3
            padding 13px
            min-height 260px
            +below($tablet) {
                display none
            }
            a {
                display block
                text-decoration none
                color #17457F
                ubuntu 11
                margin 1px 0
                &:hover {
                    color $vermelho
                }
                &.menu {
                    margin 10px 0 2px
                    ubuntu 11 bold
                    &:first-child {
                        margin-top 0
                    }
                }
                &.submenu {
                    ubuntu 11 bold
                    margin 2px 0
                }
            }
        }
    }
    .copyright {
        background #17457F
        padding 10px 0
        p {
            text-align center
            ubuntu 11
            line-height 1.5
            color #83C0D3
            +below($tablet) {
                ubuntu 10
            }
            a {
                display inline-block
                text-decoration none
                color #83C0D3
                &:hover {
                    color white
                }
                &:last-child {
                    position relative
                    padding-right 20px
                    &:after {
                        content ""
                        position absolute
                        display block
                        width 15px
                        height 12px
                        background $img('icone-trupe.png') no-repeat center
                        right 0
                        top 0
                    }
                }
            }
        }
    }
}
