.treinamentos {
    clearfix()
    .aside {
        width 28.57%
        float left
        padding-top 30px
        h2 {
            margin 0 0 25px
            color $azul-medium
            ubuntu 24 bold
        }
        h3 {
            ubuntu 16 bold
            margin 30px 0 10px
            color $azul-medium
        }
        .nav-treinamentos {
            a {
                position relative
                display block
                width 100%
                ubuntu 13 bold
                color white
                background $azul-medium
                padding 10px 10px 10px 35px
                text-decoration none
                margin-bottom 2px
                &:before {
                    content ""
                    display block
                    position absolute
                    height 100%
                    width 14px
                    left 10px
                    top 0
                    background $img('marcador-menu-vazio.png') no-repeat center
                }
                &:hover,
                &.active {
                    background $azul
                    &:before {
                        background $img('marcador-menu-vermelho.png') no-repeat center
                    }
                }
            }
        }
        .nav-atuacao {
            a {
                display block
                width 100%
                ubuntucond 14
                color $azul
                background #CEE3EC
                padding 10px
                text-decoration none
                margin-bottom 2px
                &:hover,
                &.active {
                    background $azul-escuro
                    color white
                }
            }
        }
        > a {
            display table
            width 130px
            height 130px
            border-radius 130px
            margin 10px auto
            text-align center
            text-decoration none
            ubuntu 14 bold
            span {
                display table-cell
                vertical-align middle
            }
            &.interesse {
                margin-top 25px
                background $vermelho
                span {
                    color white
                }
            }
            &.instrutores {
                background $azul
                span {
                    color $azul-light
                }
            }
            &:hover, &.active {
                background $azul-medium !important
            }
        }
        +mobile() {
            width 100%
            float none
            margin-bottom 15px
            h2 {
                ubuntu 20 bold
            }
            a.instrutores, .nav-atuacao, h3 {
                display none
            }
        }
    }
    .conteudo {
        width 66.32%
        float right
        img {
            display block
            width 100%
            height auto
            margin 30px 0 60px
            &:first-child {
                margin 0 0 30px
            }
        }
        h3 {
            ubuntu 16 bold
            margin 30px 0 10px
            color $azul-medium
            span {
                display block
                margin-bottom 5px
                ubuntu 10 bold
                &.area {
                    ubuntu 14
                    color $azul-escuro
                    margin-top 5px
                }
            }
            &.interesse {
                ubuntu 20 bold
                color $vermelho
                margin-bottom 40px
                span {
                    ubuntu 14
                    color $azul
                    margin-top 5px
                }
            }
        }
        h4 {
            color $vermelho
            margin 50px 0 12px
            ubuntu 14 bold
        }
        p {
            ubuntu 14
            color $azul
            line-height 1.4
            margin-bottom 0
        }
        +mobile() {
            width 100%
            float none
            img {
                max-width 650px
                &:first-child {
                    margin-top 30px
                }
            }
        }
        .proximos-treinamentos {
            clearfix()
            &.calendario > .titulo {
                margin-bottom 0
            }
            > .titulo {
                border-bottom 2px solid $azul-light
                margin-bottom 10px
                clearfix()
                p {
                    display inline-block
                    float left
                    ubuntucond 18
                    color $azul
                    margin 0
                    padding 0
                    text-transform uppercase
                }
                a {
                    display inline-block
                    float right
                    background $azul-light
                    height 28px
                    line-height 28px
                    ubuntucond 13
                    color $azul
                    padding 0 20px
                    text-decoration none
                    +mobile() {
                        display none
                    }
                    &:hover {
                        background $azul-escuro
                        color white
                    }
                }
            }
            .filtro {
                clearfix()
                margin-bottom 25px
                form {
                    float left
                    padding-top 10px
                    p {
                        display inline-block
                        float left
                        margin 0
                        ubuntu 11
                        height 15px
                        vertical-align bottom
                    }
                    label {
                        display inline-block
                        float left
                        ubuntu 11
                        color $azul
                        height 15px
                        vertical-align bottom
                        margin-left 10px
                        input {
                            outline 0
                            vertical-align bottom
                            margin-right 3px
                        }
                        +below($tablet) {
                            clear left
                            margin-left 0
                            margin-top 3px
                        }
                    }
                }
                a {
                    display inline-block
                    float right
                    background $azul-light
                    text-decoration none
                    padding 8px
                    ubuntu 12 bold
                    color $azul
                    &:hover {
                        background $azul
                        color white
                    }
                }
            }
            a.treinamento-chamada {
                display table
                width 100%
                table-layout fixed
                border 1px solid $azul-light
                margin-bottom 5px
                text-decoration none
                color $azul
                &:hover {
                    background $azul-light
                }
                .data {
                    width 60px
                    padding 15px 0
                    display table-cell
                    text-align center
                    vertical-align middle
                    background $azul-light
                    span {
                        display block
                        &.dia {
                            ubuntu 20 bold
                        }
                        &.mes {
                            ubuntu 12 bold
                        }
                    }
                }
                .titulo {
                    display table-cell
                    vertical-align middle
                    padding 15px
                    ubuntu 16
                    span {
                        display block
                        ubuntu 12
                        font-style italic
                    }
                }
                .local {
                    display table-cell
                    position relative
                    vertical-align middle
                    text-align center
                    ubuntu 12
                    width 120px
                    padding 10px
                    border-left 1px solid $azul-light
                    +mobile() {
                        display none
                    }
                }
                .chamada {
                    display table-cell
                    vertical-align middle
                    text-align center
                    color white
                    ubuntucond 12
                    width 80px
                    background $azul-medium
                    +mobile() {
                        display none
                    }
                }
            }
            a.completa {
                display inline-block
                margin-top 10px
                color $azul-escuro
                ubuntu 12 bold
                text-decoration none
                &:hover {
                    color $vermelho
                }
            }
            a.programacao-pdf {
                position relative
                display block
                width 100%
                background $azul-escuro
                margin-top 25px
                text-decoration none
                color $azul-light
                ubuntu 12 bold
                padding 20px 140px 20px 20px
                span {
                    display block
                    position absolute
                    right 10px
                    top 10px
                    background $vermelho
                    ubuntu 10
                    color white
                    border-radius 4px
                    padding 5px 5px 5px 35px
                    strong {
                        display block
                        ubuntu 12
                    }
                    &:before {
                        content ""
                        position absolute
                        width 24px
                        height 24px
                        top 5px
                        left 5px
                        background $img('icone-pdf.png') no-repeat center
                        background-size contain
                    }
                }
                +below($tablet) {
                    ubuntu 11 bold
                }
                +mobile() {
                    padding 15px
                    text-align center
                    span {
                        display none
                    }
                }
                &:hover {
                    background $azul
                }
            }
        }
        .assuntos-relacionados {
            margin-top 45px
            > .titulo {
                ubuntucond 14
                color $azul
                border-bottom 2px solid $azul-light
                padding-bottom 5px
            }
            .noticia {
                position relative
                display block
                text-decoration none
                color $azul
                ubuntu 12
                padding 10px 120px 10px 0
                margin-bottom 5px
                +mobile() {
                    padding 10px
                    background #E2EFF4
                }
                &:hover {
                    background #E2EFF4
                }
                .titulo {
                    display block
                    ubuntucond 20
                    text-transform uppercase
                    margin-bottom 5px
                }
                .ler-mais {
                    display inline-block
                    position absolute
                    bottom 0
                    right 0
                    height 24px
                    line-height 24px
                    transition none
                    background $azul-escuro
                    color $azul-light
                    ubuntu 10
                    padding 0 16px 0
                    transition background .3s ease
                    +mobile() {
                        display none
                    }
                    &:before {
                        content ""
                        display block
                        position absolute
                        top 0
                        left -26px
                        height 100%
                        width 24px
                        border-style solid
                        border-width 0 0 24px 26px
                        border-color transparent transparent $azul-escuro transparent
                        transition border .3s ease
                    }
                }
            }
        }
        #form-interesse, #form-proposta, #form-instrutor, #form-cliente {
            width 100%
            ::-webkit-input-placeholder {
                color $azul
            }
            :-moz-placeholder {
               color $azul
               opacity 1
            }
            ::-moz-placeholder {
               color $azul
               opacity 1
            }
            :-ms-input-placeholder {
               color $azul
            }
            input, select, textarea {
                width 100%
                outline 0
                margin-bottom 5px
                ubuntu 13
                color $azul
                border 1px solid #83C0D3
                resize none
                height 20px
            }
            textarea {
                height 100px
                padding 3px 5px
            }
            input {
                padding 0 5px
                &[type='submit'] {
                    background $azul
                    padding 0
                    border 0
                    outline 0
                    width 100%
                    height 24px
                    line-height 23px
                    margin-top 20px
                    margin-bottom 0
                    ubuntu 13
                    color white
                    text-align center
                    transition background .3s
                    &:hover {
                        background $azul-escuro
                    }
                }
            }
            #curriculo {
                width 100%
                height auto
                display block
                position relative
                text-align center
                float none
                background $azul-medium
                cursor pointer
                transition background .3s
                div {
                    width 100%
                    padding 12px 30px
                    ubuntu 14
                    color $azul
                }
                input[type='file'] {
                    opacity 0
                    top 0
                    left 0
                    width 0
                    height 0
                    position absolute
                    z-index 0
                }
                &:hover div, &.active div {
                    color white
                }
            }
            p {
                margin 15px 0 5px
                padding-left 5px
            }
            label {
                width 100%
                display block
                ubuntu 13
                padding-left 5px
                margin-bottom 5px
                input {
                    position relative
                    top 1px
                    width 15px
                    height auto
                    float left
                    padding 0
                    margin 0 5px 0 0
                    vertical-align bottom
                }
            }
        }
        #form-proposta, #form-instrutor {
            border-top 1px solid $vermelho
            border-bottom 1px solid $vermelho
            padding 20px 0
            margin-bottom 40px
            input[type='submit'] {
                margin-top 0
            }
        }
        a.programacao-abertos {
            ubuntu 13 bold
            display block
            padding 20px 15px
            color $azul-light
            text-decoration none
            background $azul-escuro
            text-align center
            &:hover {
                background $azul
            }
        }
        .instrutores {
            margin 50px 0 65px
            .instrutor {
                border-bottom 1px solid #83C0D3
                margin-bottom 20px
                padding-bottom 20px
                h4 {
                    margin 0 0 5px
                    ubuntu 14
                    color $azul-medium
                }
                p {
                    margin 5px 0
                    &:last-child {
                        margin-bottom 0
                    }
                }
            }
        }
        .areas-de-atuacao {
            margin-top 20px
            .thumb {
                display block
                width 33.33%
                float left
                ubuntu 16
                text-align center
                color $azul-escuro
                text-decoration none
                margin-bottom 30px
                .imagem {
                    width 70%
                    max-width 150px
                    background #CEE3EC
                    border-radius 100%
                    padding 8px
                    margin 0 auto 10px
                    img {
                        display block
                        width 100%
                        height auto
                        margin 0
                        border-radius 100%
                    }
                }
                &:hover .imagem {
                    background $azul-medium
                }
                +below($tablet) {
                    width 50%
                }
                +mobile() {
                    ubuntu 13
                }
            }
            .thumb-small {
                display block
                float left
                clear both
                margin-bottom 5px
                ubuntu 16
                color $azul-escuro
                line-height 50px
                text-decoration none
                .imagem {
                    width 50px
                    background #CEE3EC
                    border-radius 100%
                    padding 4px
                    float left
                    margin-right 10px
                    img {
                        display block
                        width 100%
                        height auto
                        margin 0
                        border-radius 100%
                    }
                }
                &:hover .imagem {
                    background $azul-medium
                }
                +mobile() {
                    ubuntu 14
                }
            }
        }
        .areas-de-atuacao-selecionado {
            clearfix()
            padding-bottom 50px
            border-bottom 1px solid #83C0D3
            margin-bottom 15px
            h4 {
                width 23%
                float left
                margin 30px 0 10px
                text-align center
                ubuntu 16 bold
                color $azul-escuro
            }
            .imagem {
                width 23%
                float left
                clear left
                max-width 150px
                background #CEE3EC
                border-radius 100%
                padding 10px
                margin 0 auto 10px
                img {
                    display block
                    width 100%
                    height auto
                    margin 0
                    border-radius 100%
                }
            }
            .treinamentos {
                width 72.3%
                float right
                a {
                    display block
                    width 100%
                    padding 8px 25px 8px 5px
                    text-decoration none
                    ubuntu 14
                    color $azul
                    border-top 1px solid #83C0D3
                    background-repeat no-repeat
                    background-position 98% center
                    background-image $img('setinha-right.png')
                    &:last-child {
                        border-bottom 1px solid #83C0D3
                    }
                    &:hover {
                        background-color #E2EFF4
                    }
                }
            }
            +mobile() {
                h4, .imagem, .treinamentos {
                    width 100%
                    float none
                }
                .imagem {
                    margin-bottom 15px
                }
            }
        }
        .treinamento-descricao {
            margin-top 30px
            .titulo {
                ubuntucond 22
                color $azul-light
                padding 10px
                background $azul
                margin-bottom 10px
            }
            &.no-margin .titulo {
                margin 0
            }
            .row {
                border-bottom 1px solid #CEE3EC
                padding-bottom 10px
                margin-bottom 10px
                position relative
                min-height 40px
                clearfix()
                label {
                    display block
                    position absolute
                    width 130px
                    left 0
                    top 2px
                    text-align right
                    ubuntu 12 bold
                    color $azul-medium
                }
                .texto {
                    padding-left 150px
                    p {
                        margin 0 0 10px
                    }
                    h5 {
                        ubuntu 14 bold
                        color $azul
                        margin 30px 0 5px
                        &:first-child {
                            margin-top 0
                        }
                    }
                    ul {
                        padding 0 0 0 15px
                        margin 0 0 10px
                        list-style-type disc
                        li {
                            ubuntu 14
                            color $azul
                            margin-bottom 3 px
                        }
                    }
                }
                +mobile() {
                    padding 0
                    label {
                        width 100%
                        display block
                        float none
                        position static
                        text-align left
                        margin-bottom 5px
                    }
                    .texto {
                        width 100%
                        padding 0
                    }
                }
            }
        }
        .proximas-datas {
            margin-top 45px
            h4 {
                ubuntu 12 bold
                margin 0 0 10px
                color $azul-medium
            }
            .aviso {
                border 1px solid $azul-medium
                ubuntu 14
                color $azul-medium
                padding 20px 40px
                text-align center
                +mobile() {
                    padding 15px
                    ubuntu 13
                }
            }
        }
        .treinamento-data {
            display table
            width 100%
            table-layout fixed
            border-top 1px solid $azul-medium
            border-bottom 1px solid $azul-medium
            margin-bottom 5px
            text-decoration none
            color $azul-medium
            &:hover {
                background $azul-medium
                color white
            }
            &.no-hover:hover {
                background transparent
                color $azul-medium
            }
            .data {
                display table-cell
                vertical-align middle
                width 160px
                border-right 1px solid $azul-medium
                padding 10px
                ubuntu 14
                transition none
                +mobile() {
                    ubuntu 12
                    width 130px
                    padding 10px 10px 10px 0
                }
                * {
                    transition none
                }
            }
            .endereco {
                display table-cell
                vertical-align middle
                padding 10px
                ubuntu 12
                transition none
                * {
                    transition none
                }
                .icone {
                    ubuntu 11
                    min-height 13px
                    display block
                    margin-top 5px
                    padding-left 15px
                    background $img('icone-endereco-claro.png') no-repeat top left
                }
            }
            .chamada {
                display table-cell
                vertical-align middle
                text-align center
                width 120px
                ubuntu 11 bold
                background $azul-medium
                color $azul-light
                span {
                    display inline-block
                    padding-right 15px
                    background $img('setinha-right-clara.png') no-repeat center right
                }
                +mobile() {
                    display none
                }
            }
        }
        .inscricao-wrapper {
            border-top 1px solid $vermelho
            border-bottom 1px solid $vermelho
            padding 20px 0
            clearfix()
            .botao-inicio {
                display block
                ubuntu 16
                color white
                text-align center
                padding 30px
                background $azul
                text-decoration none
                width 45%
                margin 0 3.3333%
                float left
                &:last-child {
                    margin 0
                }
                &:hover {
                    background $azul-escuro
                }
                +mobile() {
                    width 100%
                    float none
                    margin 0 0 10px
                    padding 20px
                }
            }
            #form-cliente {
                width 50%
                margin 0 auto
                +mobile() {
                    width 100%
                }
                p {
                    margin 0 0 10px
                    padding 0
                    ubuntu 14
                }
                a {
                    display inline-block
                    ubuntu 10
                    margin-top 5px
                    text-decoration none
                    color $azul
                    float right
                    &:hover {
                        color $vermelho
                    }
                }
            }
            .passos {
                margin-top -20px
                background #E2EFF4
                padding 30px 3%
                clearfix()
                +mobile() {
                    padding 15px 0
                }
                .passo {
                    width 25%
                    float left
                    text-align center
                    ubuntucond 12
                    color $azul-medium
                    position relative
                    span {
                        display block
                        height 35px
                        +mobile() {
                            font-size 0
                            text-indent -9999px
                            height auto
                        }
                        &:after {
                            content ""
                            display block
                            position absolute
                            width 100%
                            bottom 14px
                            left 50%
                            height 2px
                            background $azul-medium
                        }
                        &.numero {
                            position relative
                            display block
                            margin 0 auto
                            width 28px
                            height 28px
                            ubuntu 16 bold
                            border 2px solid $azul-medium
                            padding-top 2px
                            border-radius 100%
                            text-indent 0
                            color $azul
                            background #E2EFF4
                            z-index 9999
                            &:after {
                                display none
                            }
                        }
                    }
                    &:last-child span:after {
                        display none
                    }
                    &.active {
                        span {
                            color $azul
                            &.numero {
                                background $azul
                                color $azul-light
                            }
                        }
                    }
                }
            }
            h5 {
                ubuntu 14
                color $azul
                margin 25px 0 20px
            }
            h6 {
                ubuntu 10 bold
                color $azul
                margin 20px 0 10px
                &:not(:first-of-type) {
                    margin-top 5px
                }
            }
            .form-inscricao-padrao {
                h6 {
                    margin-top 40px
                }
                .row {
                    position relative
                    margin-bottom 5px
                    > label {
                        width 150px
                        display block
                        position absolute
                        top 2px
                        left 0
                        text-align right
                        ubuntu 12
                        color $azul
                    }
                    .formulario {
                        width 100%
                        padding-left 160px
                        input {
                            width 100%
                            border 1px solid #83C0D3
                            ubuntu 13
                            height 20px
                            color $azul
                            padding-left 4px
                            outline 0
                            &[type='radio'] {
                                width 13px
                                height 13px
                                vertical-align middle
                                margin-right 3px
                            }
                        }
                        p {
                            ubuntu 10
                            color $azul
                            margin 5px 0 0
                        }
                        label {
                            ubuntu 12
                            color $azul
                            vertical-align middle
                            margin-right 15px
                        }
                    }
                    &.codigo-promocional {
                        margin-top 25px
                        input {
                            width 70%
                        }
                    }
                    &.row-two-lines {
                        min-height 30px
                        .formulario {
                            padding-top 5px
                            +mobile() {
                                padding 0
                            }
                        }
                    }
                    &.row-adiciona-participante {
                        margin 20px 0
                        .adiciona-participante {
                            height 14px
                            display inline-block
                            color $azul-medium
                            padding-left 20px
                            ubuntu 10 bold
                            line-height 15px
                            text-decoration none
                            background $img('icone-mais.png') no-repeat center left
                            &:hover {
                                color $azul
                            }
                        }
                    }
                    +mobile() {
                        label {
                            width 100%
                            display block
                            position relative
                            float none
                            margin-bottom 5px
                            text-align left
                        }
                        .formulario {
                            padding 0
                        }
                    }
                }
                .form-novo-endereco {
                    display none
                    border-top 1px solid #CEE3EC
                    border-bottom 1px solid #CEE3EC
                    padding 10px 0 5px
                    margin 5px 0 20px
                }
                > label {
                    display block
                    position relative
                    ubuntu 12
                    color $azul
                    vertical-align bottom
                    margin-bottom 10px
                    padding-left 20px
                    &.forma-pagamento {
                        margin-left 160px
                        &:last-of-type {
                            padding-bottom 20px
                            border-bottom 1px solid #83C0D3
                            margin-bottom 20px
                        }
                        +mobile() {
                            margin-left 0
                        }
                    }
                    strong {
                        color $azul-medium
                    }
                    input {
                        width 13px
                        height 13px
                        position absolute
                        top 0
                        left 0
                        outline 0
                    }
                }
                a.form-submit {
                    display block
                    text-decoration none
                    width 100%
                    margin-top 25px
                    text-align center
                    border 0
                    outline 0
                    background $azul
                    color $azul-medium
                    padding 15px
                    ubuntu 16
                    span {
                        display inline-block
                        padding-right 15px
                        background $img('setinha-right-azul.png') no-repeat right center
                        &.no-arrow {
                            background-image none
                            padding 0
                            text-align center !important
                        }
                    }
                    &:hover {
                        background $azul-escuro
                    }
                    +mobile() {
                        ubuntu 14
                        text-align left
                    }
                }
            }
            .aviso-destaque {
                width 100%
                padding 15px
                background $azul-medium
                color white
                ubuntucond 16
                text-align center
                margin 10px 0 25px
            }
            .confirmacao-dados {
                margin-bottom 25px
                .row {
                    position relative
                    margin-bottom 5px
                    label {
                        width 150px
                        display block
                        position absolute
                        top 2px
                        left 0
                        text-align right
                        ubuntu 12
                        color $azul
                    }
                    .texto-wrapper {
                        width 100%
                        padding-left 160px
                    }
                    +mobile() {
                        label {
                            width 100%
                            display block
                            text-align left
                            position static
                            margin-bottom 3px
                        }
                        .texto-wrapper {
                            padding 0
                        }
                    }
                }
                .texto {
                    background #E2EFF4
                    margin 0 0 5px
                    padding 0 3px
                    ubuntucond 14
                    color $azul
                    a {
                        text-decoration none
                        color $azul-medium
                        &:hover {
                            color $azul-escuro
                        }
                    }
                }
            }
            .botao-cadastro {
                display inline-block
                clear left
                float left
                margin-bottom 15px
                min-height 9px
                padding-left 15px
                ubuntu 11 bold
                color $azul
                text-decoration none
                background $img('setinha-right-azul.png') no-repeat left center
                &:hover {
                    color $azul-medium
                }
            }
            .inscricao-confirmada {
                margin -20px 0
                background #E2EFF4
                text-align center
                padding 60px
                ubuntu 16
                +mobile() {
                    padding 20px
                }
                p {
                     color $azul-medium
                    margin 0
                }
            }
        }
    }
}
