.validade {
    clearfix()
    .aside {
        width 28.57%
        float left
        padding-top 30px
        h2 {
            margin 0
            color $azul-medium
            ubuntu 24 bold
        }
        img {
            display block
            width 100%
            height auto
            margin-top 15px
        }
        +mobile() {
            width 100%
            float none
            h2 {
                ubuntu 20 bold
            }
            img {
                display none
            }
        }
    }
    .conteudo {
        width 66.32%
        float right
        padding-top 30px
        h3 {
            ubuntu 14 bold
            color $vermelho
            margin 0 0 25px
            padding-bottom 12px
            border-bottom 1px solid $vermelho
        }
        form {
            border-bottom 1px solid $vermelho
            padding-bottom 25px
            .row {
                position relative
                min-height 80px
                margin-bottom 30px
                .passo {
                    width 80px
                    height 80px
                    position absolute
                    top 0
                    left 0
                    &.passo-1 {
                        background $img('bola-1passo.png') no-repeat center
                    }
                    &.passo-2 {
                        background $img('bola-2passo.png') no-repeat center
                    }
                    &.passo-3 {
                        background $img('bola-3passo.png') no-repeat center
                    }
                }
                .formulario {
                    width 100%
                    padding-left 100px
                    > label {
                        display block
                        ubuntu 14 bold
                        color $azul
                        margin-bottom 5px
                    }
                    input[type='text'] {
                        width 100%
                        border 1px solid #83C0D3
                        height 25px
                        line-height 25px
                        ubuntu 14
                        color $azul-escuro
                        outline 0
                        padding 0 5px
                    }
                    .radios {
                        border 1px solid #83C0D3
                        width 100%
                        label {
                            display block
                            width 100%
                            cursor pointer
                            input {
                                opacity 0
                                top 0
                                left 0
                                width 0
                                height 0
                                position absolute
                                z-index 0
                                &:checked + span {
                                    background $azul-light
                                }
                            }
                            span {
                                display block
                                width 100%
                                padding 8px 10px
                                ubuntu 14
                                color $azul
                            }
                        }
                    }
                }
            }
            input[type='submit'] {
                width 100%
                background $azul
                color white
                border 0
                outline 0
                ubuntu 14
                padding 10px 0
                &:hover {
                    background $azul-escuro
                }
            }
        }
        .resultado {
            border-bottom 1px solid $vermelho
            padding-bottom 25px
            .row {
                position relative
                margin-bottom 5px
                label {
                    display block
                    position absolute
                    top 7px
                    left 0
                    width 110px
                    ubuntu 12 bold
                    text-align right
                    color $azul-medium
                }
                p {
                    display block
                    margin 0 0 0 120px
                    padding 5px
                    border 1px solid $azul-light
                    line-height 1.4
                }
                &.situacao {
                    margin-top 20px
                    p {
                        border 0
                        padding 0
                        &.titulo {
                            ubuntu 12 bold
                            color $azul-medium
                            margin-bottom 5px
                        }
                        &.situacao {
                            background $azul-medium
                            color white
                            text-align center
                            ubuntu 18 bold
                            padding 10px
                            margin-bottom 20px
                        }
                        &.erro {
                            ubuntu 12 bold
                            color $vermelho
                            margin-bottom 20px
                        }
                    }
                }
            }
        }
        p {
            margin 24px 0 50px
            ubuntu 12
            color $azul
        }
        a {
            display block
            padding 10px 0
            ubuntu 14
            color $azul
            background #CEE3EC
            text-align center
            text-decoration none
            &:hover {
                background $azul-medium
                color white
            }
        }
        +mobile() {
            width 100%
            float none
            form {
                .row {
                    min-height 60px
                    .passo {
                        width 60px
                        height 60px
                        background-size cover !important
                    }
                    .formulario {
                        padding-left 80px
                    }
                }
            }
            .resultado {
                .row {
                    label {
                        width 100%
                        display block
                        position relative
                        padding-bottom 10px
                        text-align left
                    }
                    p {
                        margin 0
                    }
                }
            }
        }
    }
}
